<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/main.css" rel="stylesheet">

    

</head>

<body>

<div class="container">
<div class="col-md-4"></div>
<div class="col-md-4">
    <h2>登陆</h2>

    <div class="bs bs-bg-classes">

        {% if error %}

        <p class="bg-danger">{{error}}</p>

        {% endif %}

        <form method = 'post' enctype="multipart/form-data">

            <div class="form-group">

                 <label for="username">Username</label><input name="username" class="form-control" id="username" />

            </div>

            <div class="form-group">

                 <label for="password">Password</label><input name="password" type="password" class="form-control" id="password" />

            </div>

            {% csrf_token %}

            <button type="submit" class="btn btn-default">Submit</button>

        </form>



    </div>
    <div class="alert alert-info" role="alert">
        本项目现已开源，项目地址：<br/>
        <a href="https://github.com/bugscanteam/dnslog/" class="alert-link">https://github.com/bugscanteam/dnslog/</a>
    </div>
</div>
</div>


</body>

</html>

